<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
	<th:block th:replace="fragments/risorse :: head"></th:block>
	<title>Departments</title>
</head>

<body>
	<nav th:replace="fragments/navbar :: navbar('departments')"></nav>
	<div class="container">
		<h1 class="text-center my-4">Departments</h1>
		</hr>
		<!--	<ul class="list-group mx-auto w-25">
			<li class="list-group-item" th:each="departments : ${departments}" th:text="${departments.getName}"></li>
		</ul> -->
		<table class="table my-4" th:if="${departments.size()>0}">

			<thead>
				<tr>
					<th>name</th>
					<th>address</th>
					<th>phone</th>
					<th>email</th>
					<th>website</th>
					<th>head of department</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dep : ${departments}">
					<td>
						<a th:href="@{|/departments/${dep.id}|}" th:text="${dep.name}"></a>
					</td>
					<td th:text="${dep.address}"></td>
					<td th:text="${dep.phone}"></td>
					<td th:text="${dep.email}"></td>
					<td th:text="${dep.website}"></td>
					<td th:text="${dep.headOfDepartment}"></td>
				</tr>
			</tbody>

		</table>
	</div>
	<div class="alert alert-info text-center my-4" role="alert" th:unless="${departments.size()>0}">There is nothing to
		show</div>
	<script th:replace="fragments/risorse :: script"></script>

</body>

</html>