<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
	<th:block th:replace="fragments/risorse :: risorse"></th:block>
	<title>Department Home</title>
</head>

<body>
	<div>
		<h1 class="text-center">Department</h1>
		</hr>
		<!--	<ul class="list-group mx-auto w-25">
			<li class="list-group-item" th:each="departments : ${departments}" th:text="${departments.getName}"></li>
		</ul> -->
		<table class="table">

			<thead>
				<tr>
					<th>name</th>
					<th>address</th>
					<th>phone</th>
					<th>email</th>
					<th>website</th>
					<th>head of department</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dep : ${departments}">
					<td th:text="${dep.name}"></td>
					<td th:text="${dep.address}"></td>
					<td th:text="${dep.phone}"></td>
					<td th:text="${dep.email}"></td>
					<td th:text="${dep.website}"></td>
					<td th:text="${dep.headOfDepartment}"></td>
				</tr>
			</tbody>

		</table>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
		crossorigin="anonymous"></script>
</body>

</html>